Repository marcosdosea/FrotaPublica, pull requests merged in 2024-11, with the labels that each got.

#62 Teste de integração para VeiculoService implementado
  Codigo/Frota/Frota.sln
  Codigo/Frota/ServiceTests/ServiceTests.csproj
  Codigo/Frota/ServiceTests/VeiculoServiceTests.cs
Labels: test

#60 Teste de unidade para veículo implementado
  .gitignore
  Codigo/Frota/Frota.sln
  Codigo/Frota/FrotaWebTests/Controllers/VeiculoControllerTests.cs
  Codigo/Frota/FrotaWebTests/FrotaWebTests.csproj
Labels: test

#65 Correção no teste de unidade de veículo
  Codigo/Frota/Frota.sln
  Codigo/Frota/FrotaWebTests/Controllers/VeiculoControllerTests.cs
Labels: test

#86 Implementação do teste de integração da service de abastacimento
  Codigo/Frota/Core/Service/IAbastecimentoService.cs
  Codigo/Frota/Service/AbastecimentoService.cs
  Codigo/Frota/Service/VeiculoService.cs
  Codigo/Frota/ServiceTests/AbastecimentoServiceTests.cs
  Codigo/Frota/ServiceTests/VeiculoServiceTests.cs
Labels: test

#85 Teste de unidade de abastecimento implementado
  Codigo/Frota/FrotaWeb/Controllers/AbastecimentoController.cs
  Codigo/Frota/FrotaWebTests/Controllers/AbastecimentoControllerTests.cs
Labels: test

#87 Testes de unidade e integração para Frota implementados
  Codigo/Frota/FrotaWebTests/Controllers/FrotaControllerTests.cs
  Codigo/Frota/ServiceTests/FrotaServiceTests.cs
Labels: test

#88 Implementação dos testes de integração e unidade para pessoa
  Codigo/Frota/FrotaWebTests/Controllers/PessoaControllerTests.cs
  Codigo/Frota/ServiceTests/PessoaServiceTests.cs
Labels: test

#89 Implementado o teste de integração para unidade administrativa
  Codigo/Frota/ServiceTests/UnidadeAdministrativaServiceTests.cs
Labels: test

#90 Implementado o teste de unidade para Unidade Administrativa
  Codigo/Frota/FrotaWebTests/Controllers/UnidadeAdministrativaControllerTests.cs
Labels: test

#101 Teste de unidade para controller de PecaInsumo implementado
  Codigo/Frota/FrotaWebTests/Controllers/PecaInsumoControllerTests.cs
Labels: test

#103 Atualização do banco de dados para incluir as tabelas do Identity
  AnaliseProjeto/FrotaPublica.mwb
  AnaliseProjeto/FrotaPublica.mwb.bak
  Codigo/Frota/Core/scaffold-db.txt
Labels: correction

#102 Teste de integração para service de Vistoria implementado
  Codigo/Frota/ServiceTests/VistoriaServiceTests.cs
Labels: test

#99 Teste de unidade para controller de ModeloVeiculo implementado
  Codigo/Frota/FrotaWeb/Models/ModeloVeiculoViewModel.cs
  Codigo/Frota/FrotaWeb/Views/ModeloVeiculo/Create.cshtml
  Codigo/Frota/FrotaWeb/Views/ModeloVeiculo/Delete.cshtml
  Codigo/Frota/FrotaWeb/Views/ModeloVeiculo/Details.cshtml
  Codigo/Frota/FrotaWeb/Views/ModeloVeiculo/Edit.cshtml
  Codigo/Frota/FrotaWeb/Views/ModeloVeiculo/Index.cshtml
  Codigo/Frota/FrotaWebTests/Controllers/ModeloVeiculoControllerTests.cs
Labels: test

#97 Teste de unidade para controller de MarcaPecaInsumo implementado
  Codigo/Frota/FrotaWebTests/Controllers/MarcaPecaInsumoControllerTests.cs
Labels: test

#98 Teste de unidade para controller de MarcaVeiculo implementado
  Codigo/Frota/FrotaWebTests/Controllers/MarcaVeiculoControllerTests.cs
Labels: test

#96 Teste de unidade para controller de Vistoria implementado
  Codigo/Frota/FrotaWebTests/Controllers/VistoriaControllerTests.cs
Labels: test

#104 Implementação do teste de integração de manutenção
  Codigo/Frota/ServiceTests/ManutencaoServiceTests.cs
Labels: test

#105 Implementação dos testes de integração para MarcaVeiculo
  Codigo/Frota/ServiceTests/MarcaVeiculoServiceTests.cs
Labels: test

#106 Implementado o teste de integração para MarcaPecaInsumo
  Codigo/Frota/Core/Service/IModeloVeiculoService.cs
  Codigo/Frota/Service/ModeloVeiculoService.cs
  Codigo/Frota/ServiceTests/MarcaPecaInsumoServiceTests.cs
  Codigo/Frota/ServiceTests/ModeloVeiculoServiceTests.cs
Labels: test

#112 Atualização na configuração da senha
  Codigo/Frota/FrotaWeb/Program.cs
Labels: correction

#107 Teste de integração para service de PecaInsumo implementado
  Codigo/Frota/FrotaWeb/Models/PecaInsumoViewModel.cs
  Codigo/Frota/ServiceTests/PecaInsumoServiceTests.cs
Labels: test

#113 Implementado o teste de unidade de manutenção
  Codigo/Frota/FrotaWeb/Controllers/ManutencaoController.cs
  Codigo/Frota/FrotaWebTests/Controllers/ManutencaoControllerTests.cs
Labels: test

#115 Implementado o teste de integração e unidade para fornecedor
  Codigo/Frota/FrotaWeb/Controllers/FornecedorController.cs
  Codigo/Frota/FrotaWebTests/Controllers/FornecedorControllerTests.cs
  Codigo/Frota/ServiceTests/FornecedorServiceTests.cs
Labels: test

#121 Atualização do README.md
  README.md
Labels: documentation

#122 Implementado o novo visual para tela de login
  Codigo/Frota/FrotaWeb/Areas/Identity/Pages/Account/ConfirmEmail.cshtml
  Codigo/Frota/FrotaWeb/Areas/Identity/Pages/Account/ForgotPassword.cshtml
  Codigo/Frota/FrotaWeb/Areas/Identity/Pages/Account/ForgotPasswordConfirmation.cshtml
  Codigo/Frota/FrotaWeb/Areas/Identity/Pages/Account/Login.cshtml
  Codigo/Frota/FrotaWeb/Areas/Identity/Pages/Account/Register.cshtml
  Codigo/Frota/FrotaWeb/Areas/Identity/Pages/Account/RegisterConfirmation.cshtml
  Codigo/Frota/FrotaWeb/wwwroot/img/background-login.png
  Codigo/Frota/FrotaWeb/wwwroot/img/logo.png
Labels: enhancement

#123 Scaffold e revisão no banco de dados
  AnaliseProjeto/FrotaPublica.mwb
  AnaliseProjeto/FrotaPublica.mwb.bak
  AnaliseProjeto/dump-frota.sql
  Codigo/Frota/Core/Abastecimento.cs
  Codigo/Frota/Core/Fornecedor.cs
  Codigo/Frota/Core/FrotaContext.cs
  Codigo/Frota/Core/Frotum.cs
  Codigo/Frota/Core/Manutencao.cs
  Codigo/Frota/Core/Marcapecainsumo.cs
  Codigo/Frota/Core/Marcaveiculo.cs
  Codigo/Frota/Core/Modeloveiculo.cs
  Codigo/Frota/Core/Papelpessoa.cs
  Codigo/Frota/Core/Pecainsumo.cs
  Codigo/Frota/Core/Percurso.cs
  Codigo/Frota/Core/Pessoa.cs
  Codigo/Frota/Core/Service/IFrotaService.cs
  Codigo/Frota/Core/Solicitacaomanutencao.cs
  Codigo/Frota/Core/Unidadeadministrativa.cs
  Codigo/Frota/Core/Veiculo.cs
  Codigo/Frota/Core/Veiculopecainsumo.cs
  Codigo/Frota/Core/Vistorium.cs
  Codigo/Frota/FrotaApi/Controllers/SolicitacaoManutencaoController.cs
  Codigo/Frota/FrotaApi/Program.cs
  Codigo/Frota/FrotaApi/appsettings.json
  Codigo/Frota/FrotaWeb/Controllers/FrotaController.cs
  Codigo/Frota/FrotaWeb/Mappers/FrotaProfile.cs
  Codigo/Frota/FrotaWebTests/Controllers/FrotaControllerTests.cs
  Codigo/Frota/Service/FrotaService.cs
  Codigo/Frota/ServiceTests/FrotaServiceTests.cs
Labels: correction

#125 Aprimoramento na tela de confirmação de conta e email
  Codigo/Frota/FrotaWeb/Areas/Identity/Pages/Account/ConfirmEmail.cshtml
  Codigo/Frota/FrotaWeb/Areas/Identity/Pages/Account/RegisterConfirmation.cshtml
  Codigo/Frota/FrotaWeb/Areas/Identity/Pages/Account/RegisterConfirmation.cshtml.cs
  Codigo/Frota/FrotaWeb/wwwroot/img/FuelPump.svg
  Codigo/Frota/FrotaWeb/wwwroot/img/user_07104.jpg
  Codigo/Frota/FrotaWeb/wwwroot/img/user_person.jpg
Labels: enhancement

#127 Correção na aceitação de caracteres nas senhas
  Codigo/Frota/FrotaWeb/Areas/Identity/Pages/Account/Register.cshtml.cs
  Codigo/Frota/FrotaWeb/Program.cs
  Codigo/Frota/FrotaWeb/wwwroot/img/check-symbol.png
Labels: correction

#132 Implementado manter manutenção peças/insumos
  Codigo/Frota/Core/Service/IManutencaoPecaInsumoService.cs
  Codigo/Frota/FrotaWeb/Controllers/ManutencaoPecaInsumoController.cs
  Codigo/Frota/FrotaWeb/FrotaWeb.csproj.user
  Codigo/Frota/FrotaWeb/Mappers/ManutencaoPecaInsumoProfile.cs
  Codigo/Frota/FrotaWeb/Models/ManutencaoPecaInsumoViewModel.cs
  Codigo/Frota/FrotaWeb/Program.cs
  Codigo/Frota/FrotaWeb/Views/ManutencaoPecaInsumo/Create.cshtml
  Codigo/Frota/FrotaWeb/Views/ManutencaoPecaInsumo/Delete.cshtml
  Codigo/Frota/FrotaWeb/Views/ManutencaoPecaInsumo/Details.cshtml
  Codigo/Frota/FrotaWeb/Views/ManutencaoPecaInsumo/Edit.cshtml
  Codigo/Frota/FrotaWeb/Views/ManutencaoPecaInsumo/Index.cshtml
  Codigo/Frota/Service/ManutencaoPecaInsumoService.cs
Labels: enhancement

#140 Implementado teste de unidade para controller de ManutencaoPecaInsumo
  Codigo/Frota/FrotaWebTests/Controllers/ManutencaoPecaInsumoControllerTests.cs
Labels: test

#143 Testes corrigidos de ManutencaoPecaInsumo
  Codigo/Frota/Core/Service/IManutencaoPecaInsumoService.cs
  Codigo/Frota/FrotaWeb/Areas/Identity/Pages/Account/Login.cshtml.cs
  Codigo/Frota/FrotaWeb/Controllers/ManutencaoPecaInsumoController.cs
  Codigo/Frota/FrotaWeb/Views/ManutencaoPecaInsumo/Create.cshtml
  Codigo/Frota/FrotaWeb/Views/ManutencaoPecaInsumo/Delete.cshtml
  Codigo/Frota/FrotaWeb/Views/ManutencaoPecaInsumo/Details.cshtml
  Codigo/Frota/FrotaWeb/Views/ManutencaoPecaInsumo/Edit.cshtml
  Codigo/Frota/FrotaWeb/Views/ManutencaoPecaInsumo/Index.cshtml
  Codigo/Frota/FrotaWebTests/Controllers/ManutencaoPecaInsumoControllerTests.cs
  Codigo/Frota/Service/ManutencaoPecaInsumoService.cs
  Codigo/Frota/ServiceTests/ManutencaoPecaInsumoServiceTests.cs
Labels: test

#146 Autorização de acordo com os papéis implementada.
  Codigo/Frota/FrotaWeb/Areas/Identity/Pages/Account/Login.cshtml.cs
  Codigo/Frota/FrotaWeb/Controllers/AbastecimentoController.cs
  Codigo/Frota/FrotaWeb/Controllers/FornecedorController.cs
  Codigo/Frota/FrotaWeb/Controllers/FrotaController.cs
  Codigo/Frota/FrotaWeb/Controllers/ManutencaoController.cs
  Codigo/Frota/FrotaWeb/Controllers/ManutencaoPecaInsumoController.cs
  Codigo/Frota/FrotaWeb/Controllers/MarcaPecaInsumoController.cs
  Codigo/Frota/FrotaWeb/Controllers/MarcaVeiculoController.cs
  Codigo/Frota/FrotaWeb/Controllers/ModeloVeiculoController.cs
  Codigo/Frota/FrotaWeb/Controllers/PecaInsumoController.cs
  Codigo/Frota/FrotaWeb/Controllers/PercursoController.cs
  Codigo/Frota/FrotaWeb/Controllers/PessoaController.cs
  Codigo/Frota/FrotaWeb/Controllers/SolicitacaoManutencaoController.cs
  Codigo/Frota/FrotaWeb/Controllers/UnidadeAdministrativaController.cs
  Codigo/Frota/FrotaWeb/Controllers/VeiculoController.cs
  Codigo/Frota/FrotaWeb/Controllers/VeiculoPecaInsumoController.cs
  Codigo/Frota/FrotaWeb/Controllers/VistoriaController.cs
Labels: enhancement, correction
